@charset "UTF-8";
body{
    background-image:linear-gradient(to right, #00f7ff , #00f777,#698000,#dee203 ) ;
    font: oblique normal 1em arial;
}

h1{
    color: #1e402f;
}

h2{
   color: #3c805e; 

}
#principal{
    text-align: center;
    font: italic bolder 3em monospace;
    background-color: orangered;
}

.basico{
    color: #3c805e; 
}

    .intermediario{
color: #80793c;
    }
    
    .avancado{
color: #803c3c;
    }
    .destaque{
        background-color: #c5c56070;
    }