@charset "UTF-8";
html,body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: #7159c1;
}
header{
    background: #00ff00;
    height: 100px;
}
nav{
    background: #fcff00;
    height: 60px;
}
section{
    background: #c600eb;
    height: 100px;
}
/* article{
    background: #00fffd;

} */
aside{
    background: #3347ff;
    height:100px;
}
footer{
    background: #ff33f9;
    height: 100px;
}