@charset "UTF-8";

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* USAR EM TUDO, POIS AJUSTA O TAMANHO DA CAIXA COM A BORDA NO CALCULO PERCENTUAL, CONSIDERANDO AMBOS PARA O CÁLCULO.
    background: #7159c1;
}

header {
    background: yellow;
    /*grid-column: 1/3;*/
    /*grid-column-start: 1;
    grid-column-end:3;*/
    grid-row: 3/4;
    grid-area: h;
}

main {
    background: blue;
    grid-area: m;
    /* grid-column: 1/2;*/

}

aside {
    background: green;
    grid-area: a;
    /* grid-column: 2/3;*/

}

footer {
    background: red;
    grid-area: f;
    /*grid-column: 1/3;*/

}

.container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 20vh 70vh 10vh;
    grid-template-areas:
        "h h"
        "m a"
        "f f"
        /* TROCAR UMA LETRA POR UM PONTO "." DEIXA O ESPAÇO VAZIO!
        /*gap: 20px;*/
}

h1 {
    display: none;
}
header,main,aside,footer,:hover>h1{
    display: block;
    text-align: center;
    transition:1ms;
}